/*
  schema: http://colorschemedesigner.com/#4G11TuJuJuDw0
  purple:
    standard: #6D0FA4
    darker: #5D277D
    deep: #46056D
    light: #9C43D1
    bright: #AB69D1
*/

body {
  background-color: #333333;
  background-image: url(../img/chair.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  color: #46056D;
}


/* navbar */

.navbar-static-top .navbar-inner {
  border-width: 0;
}

.navbar-inner {
  background-color: #6D0FA4;
  background-image: linear-gradient(top, #6D0FA4, #5D277D);
    background-image: -moz-linear-gradient(top, #6D0FA4, #5D277D);
    background-image: -ms-linear-gradient(top, #6D0FA4, #5D277D);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6D0FA4), to(#5D277D));
    background-image: -webkit-linear-gradient(top, #6D0FA4, #5D277D);
    background-image: -o-linear-gradient(top, #6D0FA4, #5D277D);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6D0FA4', endColorstr='#5D277D', GradientType=0);
  background-repeat: repeat-x;
  border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  min-height: 40px;
  opacity: 0.66;
}

  .navbar .brand {
    color: #FFFFFF;
    text-shadow: none;
    font-size: 32px;
    padding: 10px 40px;
  }

  .navbar .category {
    font-size: 20px;
  }

  .navbar p {
    margin: 10px;
  }


/* header */

.hero-unit {
  margin-top: 20px;
  width: 70%;
  color: #FFFFFF;
  background-color: transparent;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
}

.hero-unit h2 {
  color: #FFFFFF;
}

/* main content */

.preview {
  float: right;
  width: 600px;
  height: 450px;
  opacity: 0.66;
}

.contact {
  float: left;
  margin-top: 360px;
  width: 200px;
  opacity: 0.66;
}

/* footer */

.copyright {
  float: right;
  margin-top: 20px;
  margin-left: 500px;
  color: #46056D;
  font-size: 20px;
  font-weight: bold;
}
